<%- include('header'); -%>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>
<div class="box">
    <% for (var i = 0; i < newItemlist.length; i++) {%>
        <div class="item">
            <input type="checkbox">
            <p><%= newItemlist[i] %></p>
        </div>
    <% } %>    

    <form class="item" action="/" method="post">
        <input type="text" name="todolist" id="todolist" placeholder="Add Your Todo List" autocomplete="false"><br>
        <button type="submit" name="button" value = <%= listTitle %> >+</button>
    </form>
</div>

<%- include('footer'); -%>